In [1]:
import numpy as np
import pandas as pd

In [2]:
pokemon = pd.read_csv('./pokemon.csv')
pokemon.shape

(1072, 13)

In [3]:
df = pokemon.copy()
df.head()

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [4]:
df.drop(['number', 'total', 'generation', 'legendary'], axis=1, inplace=True)
df.head()

,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45
1,Ivysaur,Grass,Poison,60,62,63,80,80,60
2,Venusaur,Grass,Poison,80,82,83,100,100,80
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80
4,Gigantamax Venusaur,Grass,Poison,80,82,83,100,100,80

In [5]:
poke_name = 'Venusaur' # input("Who's that pokemon! : ")

In [6]:
df[df['name'] == poke_name].iloc[:, 1:3]

   type1   type2
2  Grass  Poison

In [7]:
poke_type, poke_stats = df[df['name'] == poke_name].iloc[:, 1:3], df[df['name'] == poke_name].iloc[:, 3:]
poke_type

   type1   type2
2  Grass  Poison

In [8]:
poke_stats

   hp  attack  defense  sp_attack  sp_defense  speed
2  80      82       83        100         100     80

In [9]:
skill = 'Draco Meteor' # input("Who's that pokemon! : ")
skill_type, skill_class, skill_str = 'Dragon', 'Special', 130 # import from database

In [10]:
IV = [31, 0, 31, 31, 31, 31] # input()
EV = [6, 0, 0, 252, 0, 252]   # input()

In [11]:
Personality = [-1, 0, 1, 0, 0] # from database